[submodule "coffeed-server"]
	path = coffeed-server
	url = https://github.com/simoneromano96/Coffeed-server.git
[submodule "coffeed-client"]
	path = coffeed-client
	url = https://github.com/simoneromano96/Coffeed-client.git
